/*To do's:*/
/*stylize the title of the page*/
/*stylize the form class*/
/*stylize the table and where it is located on the page*/

body{
    background-color: #0089FF;
    height: 80vh; 

}
*{
    padding: 0px;
    margin: 0px;
}

#everything{
    margin: 0 auto; 
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 15px; 
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    font-weight: bolder;
    font-family: "Monaco", monospace; 
    color: #ffffff;
    padding-bottom: 10px;

}
.form{
    display: flex; 
    margin-top: 0px; 
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    justify-content: space-between; 
    max-width: 80%;
}


input{
    text-align: center;
}

/*style this*/
.GenerationButton{
    margin-top: 20px; 
    font-family: "Monaco", monospace; 
}

span{
    font-weight: bold;
    font-size: 20px; 
    color: #022658;
    font-family: "Monaco", monospace; 
}

table {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 13px;
    font-weight: bolder;
    font-family: "Monaco", monospace; 
}

td{
    background-color: #68BAA5;
    padding: 5px; 
    border: 2px solid #0E208E;
    border-collapse: separate;
}

/* this makes the first row child transparent.*/
tr:first-child > td:first-child{
    opacity: 0;
}
tr:first-child > td{
    background-color: #4F8073;
}
td:first-child{
    background-color: #0050BA;
    margin: 5px; 
}

#Multiplication-Table{
    overflow: auto;
    max-width: 900px;
    max-height: 600px;
    margin-top: 0px;
    margin-right: auto; 
}

/*this code is for the scrollbar capability to be added to the table for readability. */
::-webkit-scrollbar{
    width: 8px;
    height: 10px; 
}

::-webkit-scrollbar-track{
    background-color: #47A2F0;
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb{
    background-color: #002E6C;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #05162e;
}

#minimum-column{
    font-family: "Monaco", monospace;
}
#maximum-column{
    font-family: "Monaco", monospace;
}
#minimum-row{
    font-family: "Monaco", monospace;
}
#maximum-row{
    font-family: "Monaco", monospace;
}


